@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="jumbotron">
    <h1><span class="glyphicon glyphicon-fire red"></span>系統錯誤</h1>
    <p class="lead">很抱歉，系統出了一些問題。</p>
    <a href="javascript:document.location.reload(true);" class="btn btn-default btn-lg text-center"><span class="green">再試一次</span></a>
</div>

