<div class="container">
    <h3 class="dark-grey">四、戶內人口組成狀況</h3>
    <h4 class="dark-grey">4.1 貴戶戶內人口數</h4>
    <div class="alert alert-danger" id="Alert06" role="alert" style="display:none;"></div>
    <table class="table table-bordered table-hover" id="PopulationNumber">
        <thead>
            <tr>
                <th>#</th>
                <th>合計（人）</th>
                <th>男（人）</th>
                <th>女（人）</th>
            </tr>
        </thead>
        <tbody>
            <tr id="PopulationNumber_under15">
                <th scope="row">未滿15歲</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr id="PopulationNumber_over15">
                <th scope="row">滿15歲以上</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <h4 class="dark-grey">4.2 戶內滿15歲以上人口組成狀況</h4>
    <div class="alert alert-info" id="Alert19" role="alert" style="display:none;"></div>
    <div class="alert alert-danger" id="Alert07" role="alert" style="display:none;"></div>    
    <table class="table table-bordered table-hover" id="Population">
        <thead>
            <tr>
                <th>戶內人口代號</th>
                <th>與戶長之關係</th>
                <th>性別</th>
                <th>出生年次(民國)</th>
                <th>教育程度別</th>
                <th>全年從事自家農牧業工作日數</th>
                <th>全年主要生活型態</th>
                <th>是否有從事農牧業外工作</th>
                <th>刪除</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <!-- Button trigger modal -->
    <button class="btn btn-block btn-sm btn-primary" id="btnAddPopulation"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增一筆戶內人口</button>
</div>
